language: objective-c
osx_image: xcode9

before_install:
  - gem install xcpretty

script:
  - swift test
  - xcodebuild test -scheme DVB-Package | xcpretty
  - xcodebuild test -scheme DVB-Package -destination 'platform=iOS Simulator,name=iPhone 7,OS=11.0' | xcpretty

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    on_success: never
